ion-header ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
  transform-style: flat;
  transition: background-color 0.5s ease-in 0.5s;
}
ion-header ion-toolbar ion-title {
  font-size: 14px;
  color: var(--black-color);
  font-family: mon-bold;
}
ion-header ion-toolbar ion-icon {
  color: var(--black-color);
  font-size: 20px;
}
ion-header ion-toolbar .menu {
  color: #000;
}
ion-header ion-toolbar .search {
  margin-right: 13px;
}
ion-header ion-button {
  height: 35px;
  margin-left: 10px;
}
ion-header .broser {
  margin-right: 14px;
}
ngx-progressive-img-loader {
  height: 35px;
  width: 35px;
}
.section-two {
  position: sticky;
  margin-top: -11%;
  top: -14px;
}
.section-two .firstcols {
  background: #fff;
  box-shadow: 1px 1px 1px 1px #ccc;
  border-radius: 7px;
}
.dark-layer {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.header {
  position: relative;
  height: 200px;
  background-size: cover;
  background-image: url("../../../assets/Group 6678.png");
}
.header .salon-detail {
  position: absolute;
  top: 20%;
  left: 4%;
  right: 4%;
}
.header .salon-detail .salon-name {
  font-size: 24px;
  font-family: mon-bold;
  color: #fff;
  margin: 0;
}
.header .salon-detail .salon-name img {
  margin-left: 24px;
}
.header .salon-detail .salon-address {
  color: #fff;
  font-size: 13px;
  font-family: mon-medium;
  margin: 0;
  margin-bottom: 4px;
}
.header .salon-detail .time-div {
  margin: 0;
  font-size: 12px;
  color: #fff;
  font-family: mon-medium;
}
.header .salon-detail .time-div .green {
  height: 17px;
  background-color: var(--green-color);
  font-size: 10px;
  border-radius: 4px;
  font-family: mon-bold;
}
.header .salon-detail .time-div .red {
  background-color: var(--ion-color-danger);
  height: 17px;
  font-size: 11px;
  border-radius: 4px;
  font-family: mon-bold;
  letter-spacing: 1px;
}
.header .salon-detail .time-div span {
  letter-spacing: 1px;
  margin-top: 8px;
}
.header .salon-detail .time-div img {
  margin-left: 12px;
  margin-right: 12px;
}
.header .salon-detail .time-div ion-icon {
  font-size: 12px;
  color: var(--star-color);
  margin-right: 1px;
}
.paddd {
  padding-right: 16px;
}
.no {
  margin-top: 40px;
  text-align: center;
}
.no img {
  height: 100px;
}
ion-content input {
  font-family: -webkit-pictograph;
}
ion-content #card-errors {
  color: red;
  font-size: 12px;
}
ion-content .r {
  height: 47px;
  box-shadow: 0px 3px 15px 1px #eee;
}
ion-content .colll ion-button {
  width: 100%;
  font-size: 13px;
  color: var(--input-text-color);
  --background: none;
  --background-activated: none;
  font-family: mon-bold;
}
ion-content .colll .activee {
  color: var(--star-color);
}
ion-content .colll .notactive {
  color: var(--input-text-color);
}
ion-content .colll .liti {
  width: 64%;
  margin-left: 14px;
  margin-top: -8px;
  height: 5px;
  background: var(--star-color);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
ion-content .col {
  height: 50px;
  box-shadow: 0px 3px 15px 1px #eee;
  border-radius: 10px;
  padding-left: 9px;
  padding-right: 32px;
}
ion-content .col .darklayer {
  height: 6px;
  width: 42px;
  background-color: var(--star-color);
  position: absolute;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  bottom: 0px;
}
ion-content .col ion-segment-button {
  --color: var(--input-text-color);
  --color-checked: var(--star-color);
  --indicator-color: none !important;
  --background-hover: none;
  margin-right: -15px;
  margin-top: -4px;
  --color-hover: none;
}
ion-content .col ion-label {
  text-transform: none;
  font-size: 12px;
  font-family: mon-bold;
}
ion-content h2 {
  margin: 0px;
  margin-top: 7px;
  font-size: 16px;
  font-family: mon-bold;
}
ion-content p {
  font-size: 14px;
  font-family: mon-regular;
  color: var(--input-text-color);
  text-align: justify;
  margin-bottom: 21px;
}
ion-content .time {
  margin-bottom: 35px;
}
ion-content .time p {
  font-size: 14px;
  font-family: mon-regular;
  margin-top: 9px;
  margin-bottom: 0px;
  color: var(--input-text-color);
  text-align: justify;
}
ion-content .addressDiv {
  border-bottom: 0.5px dashed #ccc;
  padding-bottom: 5px;
}
ion-content .location-div {
  margin-top: 10px;
}
ion-content .location-div p {
  margin: 0px;
  font-size: 14px;
  color: var(--input-text-color);
  font-family: mon-medium;
}
ion-content .location-div p img {
  margin-right: 8px;
}
ion-content .location-div span {
  color: var(--blue-color);
}
ion-content .contact {
  margin-top: 10px;
}
ion-content .contact p {
  font-size: 14px;
  color: var(--star-color);
  font-family: mon-medium;
  margin-top: 2px;
  margin-bottom: 10px;
}
ion-content .contact p span {
  color: var(--blue-color);
}
ion-content .firstrow img {
  border-radius: 10px;
  margin-bottom: 5px;
}
ion-content .firstrow ion-col {
  padding: 5px;
  padding-bottom: 7px;
}
ion-content .btn_div {
  margin-left: 10px;
  height: 60px;
  display: flex;
  overflow-y: auto;
  margin-bottom: 10px;
  margin-right: 10px;
}
ion-content .btn_div ion-button {
  width: auto;
  height: 34px !important;
  --border-radius: 5px;
  font-size: 13px;
  --background-activated: var(--star-color);
  margin-right: 10px;
  font-family: mon-regular;
  align-self: center;
  --box-shadow: none;
}
ion-content .btn_div .active {
  --background: var(--star-color);
  border-radius: 5px;
  --background-activated: var(--star-color);
  --color: white;
}
ion-content .btn_div .segment_btn {
  --background: var(--ion-color-white);
  --color: var(--input-text-color);
  border: 1px solid var(--input-text-color);
  border-radius: 5px;
}
ion-content .btn_div::-webkit-scrollbar {
  display: none;
}
ion-content h1 {
  font-size: 13px;
  font-family: mon-regular;
}
ion-content h1 .call {
  text-decoration: none;
}
ion-content h1 ion-button {
  margin: 0;
  padding: 0 !important;
  font-family: mon-medium;
  font-size: 14px;
  margin-top: -7px;
  margin-right: -5px;
}
ion-content ion-checkbox {
  --background: #dddddd;
  --background-checked: var(--star-color);
  --border-color-checked: white;
  --border-color: white;
  --border-radius: 7px;
  --size: 19px;
  --checkmark-color: white;
  --checkmark-width: 2px;
  margin-top: 10px;
}
ion-content ion-item {
  font-size: 14px;
  font-family: mon-medium;
  color: var(--black-color);
  padding-left: 14px;
  --inner-padding-end: 0px;
}
ion-content ion-item ion-text {
  font-size: 14px;
  color: var(--black-color);
  font-family: mon-medium;
  margin-left: 13px;
  margin-right: 13px;
}
ion-content hr {
  border: 0.5px dashed #eee;
  width: 77%;
  margin-left: 59px;
  margin-top: 0px;
}
ion-content .last_btn {
  background-color: var(--blue-color);
  width: 100%;
  height: 55px;
  position: absolute;
}
ion-content .review h1 {
  margin: 2px;
  font-size: 20px;
  font-family: mon-bold;
}
ion-content .review h1 span {
  font-size: 14px;
  color: var(--blue-color);
  font-family: mon-medium;
}
ion-content .review p {
  font-size: 14px;
  font-family: mon-medium;
  margin-top: 19px;
  color: var(--input-text-color);
}
ion-content .review h4 {
  margin: 0px;
  font-size: 13px;
  font-family: mon-semibold;
}
ion-content .review h4 span {
  color: var(--input-text-color);
  font-family: mon-medium;
  font-size: 10px;
  margin-top: 4px;
}
ion-content .review .review-text {
  margin: 0px;
  margin-top: 10px;
  font-size: 12px;
  color: var(--input-text-color);
  font-family: mon-regular;
}
ion-content .review .review-col {
  background-color: var(--input-color);
  padding: 14px;
  border-radius: 9px;
}
ion-content .review .icon {
  font-size: 12px;
  color: var(--star-color);
  margin: 0px;
  margin-top: 5px;
  margin-left: -9px;
}
.pins {
  -moz-column-count: 3;
  column-count: 3;
  padding: 7px;
}
.pin {
  display: inline-block;
  margin: 0 2px 10px;
  padding: 5px;
  background: #f8f8ff;
}
.segment-container {
  width: 100%;
}
.segment-container ion-segment {
  display: flex;
  overflow: scroll;
}
.segment-container ion-segment-button {
  font-size: 13px;
  text-transform: none;
  --background: white;
  border: 0.2px solid #ccc;
  padding: 0px !important;
  --indicator-color: none;
  font-family: mon-medium;
  --indicator-height: none;
  --background-checked: var(--star-color);
  margin: 7px;
  min-width: auto;
  margin-right: 11px;
  border-radius: 4px;
}
.seg {
  display: inline-flex;
  overflow-y: auto;
}
.seg ion-segment {
  --background: none;
}
.seg ion-segment-button {
  --border-color: none;
  --border-radius: 0px;
  min-width: 99px;
  border-radius: 0px !important;
  --background: none;
  --background-checked: var(--star-color);
  --indicator-color: none;
  font-family: mon-medium;
  --color-checked: white;
  --color: gray;
}
.ripple-parent {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.no-data {
  position: relative;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: 106px;
}
.no-data img {
  height: 126px;
}
ion-footer .btn {
  width: 100%;
  padding: 0px !important;
  margin: 0px;
  overflow: hidden;
  background-color: var(--blue-color);
  height: 55px;
}
ion-footer .btn h1 {
  font-size: 15px;
  position: absolute;
  left: 6px;
  color: #fff;
  font-family: mon-medium;
  margin: 0px;
}
ion-footer .btn .service {
  height: 32px;
  background-color: #fff;
  border-radius: 4px;
  font-size: 15px;
  color: var(--blue-color);
  font-family: mon-medium;
  position: absolute;
  right: -1%;
  top: 8px;
}
ion-footer .btn .close {
  height: 14px;
  width: 14px;
  color: var(--blue-color);
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 3%;
  top: 18px;
}
ion-footer .btn .close ion-icon {
  padding: 0px;
  margin-left: -17px;
  font-size: 19px;
  color: var(--blue-color);
}
